---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Banner from "../components/Banner.astro";
import Card from "../components/Gjordetselv.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
import hero from "../assets/images/hero.svg";
import blomst from "../assets/images/blomst2.svg";
import book1 from "../assets/images/book.svg";
import book2 from "../assets/images/tskjorte.svg";
import book3 from "../assets/images/prislapp.svg";
import book4 from "../assets/images/penge.svg";
---

<MainLayout title="Green Kids and Moms">
  <section class="">
    <article class="text-center md:hidden px-[36px]">
      <div class="mx-auto">
        <div class="flex justify-center mb-4">
          <Image src={blomst} alt="blomst" class="max-w-[40%]" />
        </div>
        <h1 class="mb-4">Green Kids and Moms Secondhand</h1>
        <p class="mb-4">
          Vi er en moderne gjenbruksbutikk i Oslo, hvor du kan kjøpe billige
          brukte barne- og dameklær, brukte leker og barneutstyr.
        </p>
        <div class="max-w-xl mx-auto block md:hidden my-8">
          <Link href="/booking" variant="primarysmall"
            >Book en stand hos oss!</Link
          >
        </div>
      </div>
    </article>
    <article
      class="text-center bg-no-repeat bg-contain bg-center h-[70vh] w-screen hidden md:block"
      style={`background-image: url(${hero.src})`}
    >
      <div class="mx-auto">
        <h1 class="mt-44 mb-4">
          Green Kids and <br /> Moms Secondhand
        </h1>
        <p class="mb-4">
          Vi er en moderne gjenbruksbutikk i Oslo, hvor du kan kjøpe billige <br
          />
          brukte barne- og dameklær, brukte leker og barneutstyr.
        </p>
        <div class="max-w-xl mx-auto md:block hidden mt-8">
          <Link href="/booking" variant="primary">Book en stand hos oss!</Link>
        </div>
      </div>
    </article>
    <article
      class="bg-blaa-400 md:grid grid-cols-5 px-[36px] md:px-[105px] pt-12 pb-20 gap-22"
    >
      <div class="col-span-3 mb-8 md:mb-0">
        <h2 class="pb-4">Gjenbruk på en ny og morsom måte!</h2>
        <p class="pb-4">
          Hos oss er det privatpersoner som selger sine brukte dame- og
          barneklær, og barneutstyr. Du kan altså leie en salgsplass, som vi
          kaller en stand. Standen som du leier blir da din egen minibutikk. Du
          kommer og setter opp standen, men vi gjør selve salget! Du får en link
          fra oss hvor du kan følge opp salget hjemme. Vi utbetaler 80% av det
          du selger rett til din bankkonto. Anbefalt leieperiode er 2 uker og
          koster kun 250 kr per uke.
        </p>
        <h3 class="pb-4">Salg av brukte klær har aldri vært så enkelt!</h3>
        <p>
          Butikken vår er ca 200m2 stor, og vi har lekerom i butikken. Shopping
          hos oss er avslappende for foreldre og gøy for barn.
        </p>
      </div>
      <div
        class="bg-gul-400 rounded-3xl border-4 border-gronn-800 col-span-2 flex flex-col items-center justify-center text-center py-4"
      >
        <Image src={logo} alt="logo" class="max-w-[60%]" />
        <h3 class="mt-4">Har du flere <br />spørsmål?</h3>
        <div class="max-w-xl mx-auto mt-8 block md:hidden">
          <Link href="/faq" variant="secondarysmall">Les mer her!</Link>
        </div>
        <div class="max-w-xl mx-auto mt-8 md:block hidden">
          <Link href="/faq" variant="secondary">Les mer her!</Link>
        </div>
      </div>
    </article>
    <a href="/booking">
      <Banner text="Kun 250kr / uke" />
    </a>
    <article class="pt-12 pb-20">
      <h2 class="text-center mb-4">Gjør det selv!</h2>
      <div class="md:grid grid-cols-4 px-[36px] md:px-[105px]">
        <div class="flex flex-col justify-center mb-12 md:mb-0">
          <Card>
            <Image
              src={book1}
              slot="bilde"
              alt="logo"
              class="max-w-[60%] h-22"
            />
            <span slot="overskrift">Steg 1</span>
            <span slot="tekst"
              >Book en stand hos oss via vår nettside, direkte i butikken eller
              via mail. Betaling skjer fysisk i butikk. Husk at barne- og
              voksenklær ikke kan blandes på en stand!</span
            >
          </Card>
          <div class="self-center">
            <Link href="/booking" variant="primarysmall" target="_blank"
              >Book en stand!</Link
            >
          </div>
        </div>
        <div class="mb-12 md:mb-0">
          <Card>
            <Image
              src={book2}
              slot="bilde"
              alt="logo"
              class="max-w-[60%] h-22"
            />
            <span slot="overskrift">Steg 2</span>
            <span slot="tekst"
              >Finn frem det du vil selge og gjør det klart for salg. Husk at
              klær skal være rene når de henges opp i butikken. Du kan også
              hente og lage prislapper før du setter opp standen.</span
            >
          </Card>
        </div>
        <div class="mb-12 md:mb-0">
          <Card>
            <Image
              src={book3}
              slot="bilde"
              alt="logo"
              class="max-w-[60%] h-22"
            />
            <span slot="overskrift">Steg 3</span>
            <span slot="tekst"
              >Ta klærne med til butikk, gjør ferdig prislapper og heng opp
              klærne. Du får kleshengere av oss, og også alarmer for alle varer
              over 100kr. Ta bilde av standen og publiser på vår facebookside.</span
            >
          </Card>
        </div>
        <div class="mb-12 md:mb-0">
          <Card>
            <Image
              src={book4}
              slot="bilde"
              alt="logo"
              class="max-w-[60%] h-22"
            />
            <span slot="overskrift">Steg 4</span>
            <span slot="tekst"
              >Tøm standen når leieperioden er over eller lei en ryddetjeneste
              av oss. Deretter betaler vi fortjenesten til din konto i løpet av
              15 dager.
            </span>
          </Card>
        </div>
      </div>
    </article>
  </section>
</MainLayout>
