---
import { Image } from "astro:assets";
import stjerne from "../assets/images/stjerne.svg";
---

<div
  class="bg-rosa-200 rounded-3xl border-4 border-gronn-800 flex flex-col items-center p-8 gap-4 hover:scale-105 hover:bg-rosa-300 transition-hover duration-150"
>
  <slot name="navn" />
  <div class="grid grid-cols-5">
    <div><Image src={stjerne} alt="stjerne" class="max-w-[80%]" /></div>
    <div><Image src={stjerne} alt="stjerne" class="max-w-[80%]" /></div>
    <div><Image src={stjerne} alt="stjerne" class="max-w-[80%]" /></div>
    <div><Image src={stjerne} alt="stjerne" class="max-w-[80%]" /></div>
    <div><Image src={stjerne} alt="stjerne" class="max-w-[80%]" /></div>
  </div>
  <slot name="tekst" />
</div>
